<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="beanLocator" class="com.ailk.lcims.support.util.spring.BeanLocator" />
	
		
	<bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:mp.properties</value>
				<value>classpath:memcache.properties</value>
			</list>
		</property>
	</bean>
	<bean id="rmiPropertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:mp.properties</value>
            </list>
        </property>
    </bean>
 
	<!-- rmi service register -->
	<bean id="rmiMPServer" class="com.ailk.lcims.support.mp.rmi.RMIMPServer" init-method="init">
		<property name="ip" value="${mp.rmi.ip}" />
		<property name="port" value="${mp.rmi.port}" />
	</bean> 

	<!-- notifycenter register  -->
		<bean id="rmiMPClient" class="com.ailk.lcims.support.notify.MulticastNotifyRMIClient">
			<property name="ip" value="${notify.center.ip}" />
			<property name="port" value="${notify.center.port}" />
			<property name="serviceName" value="${notify.center.service}" />
		</bean>  
   
   
	<import resource="spring/rmi-service.xml" />
	
	<!-- config -->
	<import resource="spring/config-ContextConfig.xml" />
	<import resource="spring/dataSource-ContextConfig.xml" />
	<import resource="spring/dao-ContextConfig.xml" />
	<import resource="spring/service-main-ContextConfig.xml" />
	<import resource="spring/service-handler-ContextConfig.xml" />
	<import resource="spring/service-base-ContextConfig.xml" />
	<import resource="spring/memcache-service.xml" />
	
	<bean id="mpContext" class="com.ailk.lcims.support.mp.MPContext" init-method="getContext" destroy-method="destory" />
	
</beans>
