<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>wxserver</display-name>
	<context-param>
		<param-name>weblogic.httpd.inputCharset./*</param-name>
		<param-value>gb2312</param-value>
	</context-param>
	<listener>
		<listener-class>com.ailk.wxserver.util.spring.SpringBeanLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>weiXinServlet</servlet-name>
		<servlet-class>com.ailk.wxserver.servlet.WeiXinServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>wxVerifyServlet</servlet-name>
		<servlet-class>com.ailk.wxserver.servlet.WeiXinVerifyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>wxWifiServlet</servlet-name>
		<servlet-class>com.ailk.wxserver.servlet.WeiXinWifiServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>wxNetAuthServlet</servlet-name>
		<servlet-class>com.ailk.wxserver.servlet.WeiXinNetAuthServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>wxServerServlet</servlet-name>
		<servlet-class>com.ailk.wxserver.servlet.WeiXinServerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>wxSurfNetServlet</servlet-name>
		<servlet-class>com.ailk.wxserver.servlet.WeiXinSurfNetServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>wxManagerServlet</servlet-name>
		<servlet-class>com.ailk.wxserver.servlet.WeiXinManagerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/servlet/AxisServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>*.jws</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>weiXinServlet</servlet-name>
		<url-pattern>/wx/server</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wxVerifyServlet</servlet-name>
		<url-pattern>/wx/vf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wxWifiServlet</servlet-name>
		<url-pattern>/wx/wifi</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wxNetAuthServlet</servlet-name>
		<url-pattern>/wx/netauth</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wxServerServlet</servlet-name>
		<url-pattern>/wx/wxserver</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wxSurfNetServlet</servlet-name>
		<url-pattern>/wx/surfnet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wxManagerServlet</servlet-name>
		<url-pattern>/wx/manager</url-pattern>
	</servlet-mapping>
</web-app>
